
#ifndef  _WIN32_IE
#define _WIN32_IE 0x0500
#endif

#ifndef  WINVER
#define WINVER 0x0500
#endif


#include <windows.h>
#include <commctrl.h>
#include "resource.h"


DLG_MAIN DIALOGEX 6, 5, 450, 260
CAPTION "Control de carga V 0.0"
FONT 8, "Tahoma"
STYLE DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU|WS_VISIBLE

BEGIN
     CONTROL "Tab",IDC_TABCTRL,"SysTabControl32",WS_CHILD |WS_VISIBLE,0,0,450,260
END






DLG_MONITOR DIALOGEX 0, 13, 450, 248
CAPTION "Monitor"
FONT 8, "Tahoma"
STYLE DS_CONTROL|WS_CHILD|WS_VISIBLE//|DS_MODALFRAME

BEGIN
     LTEXT "Uin:", ID_UIN, 18,50, 60, 12, WS_BORDER|SS_CENTER
     LTEXT "Dev ID:", ID_DEV, 98,120, 60, 12, WS_BORDER|SS_CENTER
     LTEXT "Uout:", ID_UOUT, 270,130, 60, 12, WS_BORDER|SS_CENTER
     LTEXT "Iout:", ID_IOUT, 270,145, 60, 12, WS_BORDER|SS_CENTER
     LTEXT "Temp:", ID_TEMP, 270,160, 60, 12, WS_BORDER|SS_CENTER
     LTEXT "Status", ID_STATUS, 20, 220, 100, 12, SS_CENTER
END








DLG_GRAPHICS DIALOGEX 5, 18, 480, 230
CAPTION "Graficos"
 FONT 8, "Tahoma"
 //FONT 8,"MS Shell Dlg",0,0,0x1
 //FONT 8, "MS Sans Serif", 0, 0, 0x1
 //STYLE DS_CONTROL|WS_CHILD//|DS_SETFONT
 STYLE DS_MODALFRAME |  WS_CAPTION | WS_SYSMENU|WS_VISIBLE
BEGIN
 //    CONTROL "", ID_TOOLTIP, TOOLTIPS_CLASS, TTS_ALWAYSTIP |WS_CHILD|WS_VISIBLE , 12, 6, 160, 15
        GROUPBOX " ", ID_GRAPH_U,20,0, 455, 200, BS_GROUPBOX
 //      GROUPBOX " ", ID_GRAPH_I,0,117, 435, 220, BS_GROUPBOX

END

DLG_CREATEGRAPH DIALOGEX 5, 18, 280, 150
CAPTION "Graficos"
 FONT 8, "Tahoma"
 //FONT 8,"MS Shell Dlg",0,0,0x1
 //FONT 8, "MS Sans Serif", 0, 0, 0x1
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU|WS_VISIBLE
BEGIN
  LISTBOX ID_VARS, 7, 19, 100, 100, LBS_STANDARD
//  LTEXT "Select an item:", ID_STATIC, 7, 7, 48, 8, SS_LEFTNOWORDWRAP | WS_GROUP
  LISTBOX ID_SHOWVARS, 150, 19, 100, 60, LBS_STANDARD

   GROUPBOX " ", ID_STATIC,150,70, 100, 45, BS_GROUPBOX
  LTEXT "Guardar como:", ID_STATIC, 180, 80, 48, 8, SS_LEFTNOWORDWRAP
  EDITTEXT ID_SAVEASFILE,160,90,80,15,ES_LEFT

  DEFPUSHBUTTON "->", ID_SELECT, 120, 30, 20, 14
  PUSHBUTTON "<-", ID_DELETE, 120, 60, 20, 14
  PUSHBUTTON "Open", ID_OPEN, 120,90, 20, 14
  PUSHBUTTON "Ok", ID_OK, 50, 130, 40, 14
  PUSHBUTTON "Cancelar", ID_CANCEL, 209,130, 40, 14

END


DLG_BATTERY DIALOGEX 5, 18, 440, 230
CAPTION "Grupo de Baterias"
 FONT 8, "Tahoma"
 //FONT 8,"MS Shell Dlg",0,0,0x1
 //FONT 8, "MS Sans Serif", 0, 0, 0x1
 STYLE DS_CONTROL|WS_CHILD//|DS_SETFONT
 //STYLE DS_MODALFRAME | WS_CHILD | WS_CAPTION | WS_SIZEBOX | WS_MINIMIZEBOX | WS_SYSMENU

BEGIN
       GROUPBOX "Estado da carga", ID_STATIC,320,60, 100, 170, BS_GROUPBOX

       GROUPBOX "Parâmetros", ID_STATIC,10,120, 300, 100, BS_GROUPBOX
     LTEXT "U_out: ", ID_UOUT, 80, 150, 60, 12, WS_BORDER|SS_CENTER
      LTEXT "A/h", ID_CAPACITY, 80, 170, 60, 12, WS_BORDER|SS_CENTER
     LTEXT "_o_", ID_RI, 80, 190, 60, 12, WS_BORDER|SS_CENTER
      LTEXT "A/h", ID_AMP_H, 220,150, 60, 12, WS_BORDER|SS_CENTER
      LTEXT "ºC", ID_TEMP, 220,170, 60, 12, WS_BORDER|SS_CENTER
      LTEXT "Horas", ID_AUTONOMI, 220,190, 60, 12, WS_BORDER|SS_CENTER

      LTEXT "Tensão nominal: ", ID_STATIC, 20, 150, 60, 12, SS_RIGHT
      LTEXT "Capacidade: ", ID_STATIC, 30, 170, 50, 12, SS_RIGHT
      LTEXT "Resistência int: ", ID_STATIC, 25, 190, 50, 12, SS_RIGHT
      LTEXT "Carga actual:", ID_STATIC, 160,150, 50, 12, SS_RIGHT
      LTEXT "Temperatura:", ID_STATIC, 160,170, 50, 12, SS_RIGHT
      LTEXT "Autonomia:", ID_STATIC, 160,190, 50, 12, SS_RIGHT
END


DLG_PAINEL DIALOGEX 5, 18, 440, 230
CAPTION "Grupo de Paineis"
 FONT 8, "Tahoma"
 //FONT 8,"MS Shell Dlg",0,0,0x1
 //FONT 8, "MS Sans Serif", 0, 0, 0x1
 STYLE DS_CONTROL|WS_CHILD//|DS_SETFONT
 //STYLE DS_MODALFRAME | WS_CHILD | WS_CAPTION | WS_SIZEBOX | WS_MINIMIZEBOX | WS_SYSMENU

BEGIN
 //    CONTROL "", ID_TOOLTIP, TOOLTIPS_CLASS, TTS_ALWAYSTIP |WS_CHILD|WS_VISIBLE , 12, 6, 160, 15
 //      GROUPBOX " ", ID_GRAPH_U,0,0, 435, 116, BS_GROUPBOX
 //      GROUPBOX " ", ID_GRAPH_I,0,117, 435, 220, BS_GROUPBOX

END


DLG_COMPORT DIALOGEX 5, 18, 440, 220
CAPTION "Comunicações"
FONT 8, "Tahoma"
STYLE DS_CONTROL|WS_CHILD //|DS_MODALFRAME

BEGIN
       GROUPBOX "Configuração", ID_STATIC,20,20, 200, 150, BS_GROUPBOX
      LTEXT "Porta ID:", ID_STATIC, 30, 44, 100, 15, SS_RIGHT
      LTEXT "Bits por segundo:", ID_STATIC, 30, 64, 100, 12, SS_RIGHT
      LTEXT "Bits de dados:", ID_STATIC, 30, 84, 100, 12, SS_RIGHT
      LTEXT "Bits de paragem:", ID_STATIC, 30, 104, 100, 12, SS_RIGHT
      LTEXT "Paridade:", ID_STATIC, 30, 124, 100, 12, SS_RIGHT

      LTEXT "COM1", ID_PORTNUM, 135, 42, 50, 12,WS_BORDER|SS_CENTER
      LTEXT "bps", ID_BRATE, 135, 62, 50, 12, WS_BORDER|SS_CENTER
      LTEXT "Bsize", ID_BSIZE, 135, 82, 50, 12,WS_BORDER|SS_CENTER
      LTEXT "StopBit", ID_SBIT, 135, 102, 50, 12, WS_BORDER|SS_CENTER
      LTEXT "none", ID_PAR, 135, 122, 50, 12, WS_BORDER|SS_CENTER

      GROUPBOX "Tempos limite para leitura de dados", ID_STATIC,230,20, 200, 80, BS_GROUPBOX
      LTEXT "entre 2 bytes consecutivos:", ID_STATIC, 250, 40, 100, 12, SS_RIGHT
      LTEXT "Multiplicador:", ID_STATIC, 250, 60, 100, 12, SS_RIGHT
      LTEXT "Constante:", ID_STATIC, 250, 80, 100, 12, SS_RIGHT
      LTEXT "0", ID_RINT, 353, 40,50, 12, WS_BORDER|SS_CENTER
      LTEXT "0", ID_RMULT, 353, 60, 50, 12, WS_BORDER|SS_CENTER
      LTEXT "0", ID_RCONST, 353, 80, 50, 12, WS_BORDER|SS_CENTER

      GROUPBOX "Para escrita de dados", ID_STATIC,230,100, 200, 70, BS_GROUPBOX
      LTEXT "Multiplicador:", ID_STATIC, 250, 120, 100, 12, SS_RIGHT
      LTEXT "Constante:", ID_STATIC, 250, 140, 100, 12, SS_RIGHT
      LTEXT "0", ID_WMULT,353, 120, 40, 12, WS_BORDER|SS_CENTER
      LTEXT "0", ID_WCONST, 353, 140, 40, 12, WS_BORDER|SS_CENTER

      PUSHBUTTON "Rts on/off",ID_BTN_RTS,40,180,40,15

END


DLG_CONFIG DIALOGEX 5, 18, 440, 220
CAPTION "Cofiguração"
FONT 8, "Tahoma"
STYLE DS_CONTROL|WS_CHILD

BEGIN
  //    LTEXT "", ID_UMODE, 220, 10, 22, 12, SS_CENTER
      GROUPBOX "Tensão", ID_STATIC,10,20, 200, 100, BS_GROUPBOX
      GROUPBOX "Intensidade", ID_STATIC,220,20, 200, 100, BS_GROUPBOX
      LTEXT "V_off:", ID_STATIC, 20, 40, 60, 12, SS_RIGHT
      LTEXT "V_float:", ID_STATIC, 20, 60, 60, 12, SS_RIGHT
      LTEXT "V_oct:", ID_STATIC, 20, 80, 60, 12, SS_RIGHT
      LTEXT "I_tric:", ID_STATIC, 250, 40, 60, 12, SS_RIGHT
      LTEXT "I_bulk:", ID_STATIC, 250, 60, 60, 12, SS_RIGHT
      LTEXT "I_oct:", ID_STATIC, 250, 80, 60, 12, SS_RIGHT
     LTEXT "", ID_VOFF, 85,40, 60, 12, WS_BORDER|SS_CENTER
     LTEXT "", ID_VFLOAT, 85,60, 60, 12, WS_BORDER|SS_CENTER
     LTEXT "", ID_VOCT, 85,80, 60, 12, WS_BORDER|SS_CENTER
      LTEXT  "",ID_ITRIC, 315,40, 60, 12, WS_BORDER|SS_CENTER
     LTEXT  "",ID_IBLK, 315,60, 60, 12, WS_BORDER|SS_CENTER
     LTEXT  "",ID_IOCT, 315,80, 60, 12, WS_BORDER|SS_CENTER

      LTEXT "disparo:", ID_STATIC, 20, 100, 60, 12, SS_RIGHT
    LTEXT "", ID_ON, 85,100, 60, 12, WS_BORDER|SS_CENTER

     GROUPBOX "Read Loop Counter", ID_STATIC,10,130, 100, 90, BS_GROUPBOX
     COMBOBOX ID_LOOPCNT, 20, 150, 40, 55, CBS_DROPDOWNLIST | WS_TABSTOP|WS_VSCROLL
     CTEXT "Numero de leituras para valor médio de dados:", -1, 17,180, 80, 20
     PUSHBUTTON "Set default", ID_DEFAULT, 20, 200, 50, 12

     GROUPBOX "Data refresh rate", ID_STATIC,120,130, 100, 90, BS_GROUPBOX
      COMBOBOX ID_REFRESH, 150, 150, 40, 55, CBS_DROPDOWNLIST | WS_TABSTOP|WS_VSCROLL
     CTEXT "frequência de actualização dos dados", -1, 130, 180, 80, 20

    GROUPBOX "", ID_STATIC,230,130, 130, 90, BS_GROUPBOX

     DEFPUSHBUTTON "OK", ID_OK, 380, 140, 50, 14
     PUSHBUTTON "Cancel", ID_CANCEL, 380, 170, 50, 14
     PUSHBUTTON "Help", ID_HELP, 380, 200, 50, 14

END

CFG_OPTION_DLG DIALOGEX 100,100,300,120
CAPTION "Configuração"
//FONT 8, "Tahoma"
 //FONT 8,"MS Shell Dlg",0,0,0x1
 FONT 8, "MS Sans Serif", 0, 0, 0x1
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU|WS_VISIBLE
BEGIN
     DEFPUSHBUTTON "OK", ID_OK, 235, 30, 50, 14
     PUSHBUTTON "Cancel", ID_CANCEL, 235, 60, 50, 14
     PUSHBUTTON "Help", ID_HELP, 235, 90, 50, 14

     GROUPBOX "Read Loop Counter", ID_STATIC,10,10, 100, 100, BS_GROUPBOX
     COMBOBOX ID_LOOPCNT, 20, 30, 40, 55, CBS_DROPDOWNLIST | WS_TABSTOP|WS_VSCROLL
     CTEXT "Numero de leituras para valor médio de dados:", -1, 17, 60, 80, 20
     PUSHBUTTON "Set default", ID_DEFAULT, 20, 80, 50, 12

     GROUPBOX "Data refresh rate", ID_STATIC,120,10, 100, 100, BS_GROUPBOX
      COMBOBOX ID_REFRESH, 150, 30, 40, 55, CBS_DROPDOWNLIST | WS_TABSTOP|WS_VSCROLL
     CTEXT "frequência de actualização dos dados", -1, 130, 60, 80, 20

END



MESSAGE_DLG DIALOGEX 100,100,300,150
CAPTION "Acerca de"
FONT 8, "Tahoma"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU|WS_VISIBLE
BEGIN
      LTEXT " ", ID_ERRMSG, 7, 60, 280, 50, SS_LEFTNOWORDWRAP

END


USERDATA_DLG DIALOGEX 100,100,210,200
CAPTION "Acesso à memória "
FONT 8, "Tahoma"
STYLE DS_MODALFRAME   | WS_CAPTION | WS_SYSMENU|WS_VISIBLE
BEGIN
     LTEXT "Memória:", -1, 10, 7, 58, 10, SS_LEFTNOWORDWRAP | WS_GROUP
     COMBOBOX IDC_MEM, 70, 7, 74, 55, CBS_DROPDOWNLIST | WS_TABSTOP

      LTEXT "Endereço:", -1, 7, 30, 58, 10, SS_RIGHT
      EDITTEXT IDC_ADDR, 70, 30, 60, 15, WS_BORDER | WS_TABSTOP
      LTEXT "#bytes:", -1, 7, 60, 58, 10, SS_RIGHT
      EDITTEXT IDC_BYTELEN,70,60,40,12, WS_BORDER | WS_TABSTOP
      CONTROL "", IDC_UPDOWN, UPDOWN_CLASS, UDS_ALIGNRIGHT|UDS_WRAP|UDS_SETBUDDYINT , 112, 60, 160, 12
      LTEXT "data:", -1, 7, 90, 58, 10, SS_RIGHT
     EDITTEXT IDC_DATA,70,90,80,12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL


      PUSHBUTTON "Read", IDC_BTNREAD, 160,10,40,20,BS_PUSHBUTTON
      PUSHBUTTON "Write", IDC_BTNWRITE, 160,50,40,20,BS_PUSHBUTTON
      PUSHBUTTON "Close", IDC_BTNOK, 160,90,40,20,BS_PUSHBUTTON

      LISTBOX IDC_LISTDATA, 5, 130, 200, 100, LBS_STANDARD | LBS_MULTIPLESEL

END



STRINGTABLE

BEGIN
   IDS_MSG1,"String1"
END



 IDB_SYSTEM BITMAP   PRELOAD	 "images/fotovoltaico2.bmp"
 IDB_BATTERY BITMAP   MOVEABLE "images/battery.bmp"
 IDB_PAINEL BITMAP   PRELOAD	 "images/painelsolar.bmp"
